[Unit]
Description=PHP FastCGI Process Manager
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create --rm --interactive --publish 9000:9000/tcp --mount type=bind,source="/path/to/app",target="/path/to/app" --name php-fpm-nextcloud hetsh/php-fpm-nextcloud
ExecStart=/bin/docker start --attach php-fpm-nextcloud
ExecStop=/bin/docker stop php-fpm-nextcloud

[Install]
WantedBy=multi-user.target
