[Unit]
Description=PHP FastCGI Process Manager for Nextcloud
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --publish 9000:9000/tcp \
              --mount type=bind,source="/srv/nextcloud",target="/srv/nextcloud" \
              --mount type=bind,source=/var/log/php-nextcloud,target=/var/log/php8 \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --name php-nextcloud \
              hetsh/php-nextcloud
ExecStart=/bin/docker start --attach php-nextcloud
ExecStop=/bin/docker stop php-nextcloud

[Install]
WantedBy=multi-user.target
